docker {
    enabled = true
}

process {
    executor = 'local'

    cpus = 2
    memory = '4 GB'

    errorStrategy = 'terminate'

    withName: FASTQ_QC {
        cpus = 1
        memory = '1 GB'
    }

    withName: INDEX_REFERENCE {
        cpus = 1
        memory = '1 GB'
    }

    withName: ALIGN {
        cpus = 2
        memory = '2 GB'
    }

    withName: BAM_QC {
        cpus = 1
        memory = '1 GB'
    }

    withName: CLAIR3 {
        cpus = 2
        memory = '4 GB'
    }

    withName: VARIANT_STATS {
        cpus = 1
        memory = '1 GB'
    }

    withName: BENCHMARK {
        cpus = 2
        memory = '2 GB'
    }
}

params {

    reads = 'data/raw/HG003_chr20.fastq.gz'

    reference = 'data/reference/GRCh38_no_alt_chr20.fa'

    truth_vcf = 'data/reference/HG003_GRCh38_chr20_v4.2.1_benchmark.vcf.gz'

    truth_bed = 'data/reference/HG003_GRCh38_chr20_v4.2.1_benchmark_noinconsistent.bed'

    target_bed = 'data/reference/quick_demo.bed'

    sample = 'HG003'

    outdir = 'results'
}
